/*Poppins font*/
@font-face {
    font-family: 'Poppins Black';
    src: url('/assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins Extra';
    src: url('/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}
/* Overpass font */
@font-face {
    font-family: 'Overpass Black';
    src: url('/assets/fonts/Overpass/Overpass-Black.ttf');
}

@font-face {
    font-family: 'Overpass Bold';
    src: url('/assets/fonts/Overpass/Overpass-Bold.ttf');
}

@font-face {
    font-family: 'Overpass Extra';
    src: url('/assets/fonts/Overpass/Overpass-ExtraBold.ttf');
}

@font-face {
    font-family: 'Overpass Medium';
    src: url('/assets/fonts/Overpass/Overpass-Medium.ttf');
}

@font-face {
    font-family: 'Overpass Regular';
    src: url('/assets/fonts/Overpass/Overpass-Regular.ttf');
}
